# Endereço do banco de dados
DB_HOST=localhost
# Porta do banco de dados
DB_PORT=3306
# Nome do schema no banco de dados
DATABASE=taskvault
# Usuário da aplicação no banco de dados
DB_USER=appuser
# Nível de log da aplicação
LOG_LEVEL=debug
